[defaults]

become                  = true
host_key_checking       = false
inventory               = ./hosts
private_key_file        = ~/.ssh/id_rsa_aws_valheim
remote_user             = ubuntu

[ssh_connection]

pipelining              = True
ssh_args                = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o IdentitiesOnly=yes -o ControlMaster=auto -o ControlPersist=60s 
